# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
.eggs/

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Database
*.db
*.sqlite3
